@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: rgb(187, 127, 17);
  --lightOrange: rgb(223, 198, 153)
}

/* Customizes the scrollbar for all elements and the <body> */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(187, 127, 17, 0.5), var(--orange)); /* Gradient from pink to purple */
  border-radius: 6px; /* Rounded corners of the scroll thumb */
  border: 3px solid black; /* Creates padding around the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgba(187, 127, 17, 0.4), rgba(187, 127, 17, 0.8)); /* Gradient from pink to purple */
}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* Color of the scrollbar track */
}

body {
  @apply text-white;
  background: black;
  overflow-x: hidden;
}

body * {
  transition: 300ms ease-in-out;
}

.gold-grad {
  /* Define the gradient */
  background-image: linear-gradient(to right, var(--orange), var(--lightOrange));
  /* Make the text transparent to show the background */
  color: transparent;
  /* Clip the background to the text */
  background-clip: text;
}

.white-grad {
  /* Define the gradient */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .65), white);
  /* Make the text transparent to show the background */
  color: transparent;
  /* Clip the background to the text */
  background-clip: text;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.hover-text-outline {
  transition: color 0.3s, -webkit-text-fill-color 0.3s, filter 0.3s;

}

.hover-text-outline:hover {
  -webkit-text-fill-color: rgb(218, 166, 70);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.hero-video-background {}

.nav-underline {
  transform: scaleX(0);
}

.nav-item:hover + .nav-underline {
  transform: scaleX(1);
}

.text-fill, .text-outline {
  transition: opacity .3s ease; /* Smooth transition for opacity */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  opacity: 1; /* Start fully visible */
}

.text-fill {
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-text-fill-color: rgb(228, 179, 89); /* Fill color */
  -webkit-text-stroke-width: 0px; /* Remove stroke for filled text */
  opacity: 0; /* Start fully transparent */
}

.text-wrapper {
  position: relative;
}

.text-wrapper:hover {
  margin-left: 40px;
}

@media (max-width: 600px) {
  .text-wrapper:hover {
    margin-left: 20px;
  }
}

.text-wrapper:hover .text-fill {
  opacity: 1; /* Become fully visible on hover */
}

.text-wrapper:hover .text-outline {
  opacity: 0; /* Fully transparent on hover, hiding it */
}

.text-wrapper:hover h1 {
  @apply text-white;
}

.lucidify-hover:hover h1 {
  @apply text-white;
}

.lucidify-hover:hover .lucidify-text {
  @apply text-white/60;
}

.lucidify-hover:hover .lucidify-underline {
  transform: scaleX(1);
}

.lucidify-underline {
  transform: scaleX(0);
}

.industry-container {
  overflow: hidden;
}

.industry-description h3 {
  transition: .5s ease-in-out;
}

.collapsed {
  @apply mb-6;
  opacity: 0;
  visibility: hidden;
  max-height: 0px; /* Adjust based on your initial size, without description */
}

.expanded {
  @apply mb-6 mt-2;
  max-height: 75px; /* Adjust based on your size with description */
  visibility: visible;
  opacity: 1;
}

.form-button-hover {
  transition: 450ms ease-in-out;
  transform: scaleX(0);
}

.form-button:hover .form-button-hover {
  transform: scaleX(100%);
}

.form-button-line {
  transform: scaleX(75%);
  transition: 500ms ease-in-out;
}

.butt:hover + .form-button-line {
  transform: scaleX(1);
}

.form-button:hover {
  color: black;
}

.cursor-glow {
  width: 20px; /* You can adjust the size */
  height: 20px; /* You can adjust the size */
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  pointer-events: none; /* This makes sure the glow doesn't interfere with other mouse events */
  box-shadow: 0 0 15px orange; /* Adjust for your desired glow effect */
  display: none; /* Start with the glow hidden */
}
